body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    margin: 0;
}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
    padding: 10px;
    background-color: #333;
    border-radius: 15px;
    width: 260px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.circles {
    grid-column: span 4;
    display: flex;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 5px;
    cursor: pointer;
}

.red {
    background-color: #ff5f57;
}

.yellow {
    background-color: #febc2e;
}

.green {
    background-color: #28c840;
}

.calculator-display {
    grid-column: span 4;
    background-color: #666;
    text-align: right;
    padding: 10px;
    font-size: 2em;
    border-radius: 5px;
    color: white;
}

.digit-keys {
    grid-column: span 4;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2px;
}

.button {
    background-color: #54515a;
    color: white;
    font-size: 1.2em;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    height: 60px;
}

.button.orange {
    background-color: #f1a33c;
    color: white;
}

.button.black {
    background-color: #777;
}

.button.zero {
    grid-column: span 2;
}

.button.last {
    border-bottom-right-radius: 15px;
}
